    {% load static %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Modern Image Card{% endblock %}</title>
        <link rel="shortcut icon" href="{% static 'images/luxury-car.png' %}" type="image/x-icon">

        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>{% block header %}Image Card Showcase{% endblock %}</h1>
        </header>
        {% block formAnc %}{% endblock %}
        <main class="container">
            {% block content %}{% endblock %}
        </main>

        <footer>
            <p>&copy; 2025 Modern Image Card</p>
        </footer>
    </body>
    </html>
