{% extends "base.html" %} {% load static %} {% block title %}Image Showcase
{% endblock %} {% block header %} Image Card Showcase {% endblock %} {% block searchBar %}
<form action="{% url 'index' %}" method="GET" class="searchBar">
  <input type="text" name="query" placeholder="Search..." value="{{ query|default:'' }}">
  <button type="submit">Search</button>
  <span style="color: var(--text-secondary); font-size: 24px; margin-left: 10px;">Cards available: {{ images.count }}</span>
</form>
{% endblock %} {% block formAnc %}
<div class="formAnc">
  <a href="{% url 'form' %}">Add Car</a>
</div>
{% endblock %} {% block content %}
<div class="container">
  {% for image in images %}
  <div class="image-card">
    <img src="{{ image.image.url }}" alt="{{ image.title }}" />

    <div class="card-content">
      <h2>{{ image.title | upper }}</h2>
      <p>{{ image.description | title }}</p>

      <div class="card-actions">
        <button
          class="btn view-btn"
          data-title="{{ image.title }}"
          data-desc="{{ image.description }}"
          data-img="{{ image.image.url }}"
        >
          View
        </button>
        {% if user.is_authenticated %}
          <a href="{% url 'update_image' image.id %}" class="btn btn-update">
            Update
          </a>

          <a
            href="{% url 'delete_image' image.id %}"
            class="btn btn-delete"
            onclick="return confirm('Are you sure?');"
          >
            Delete
          </a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<div id="detailOverlay" class="overlay">
  <span class="overlay-close">&times;</span>

  <div class="overlay-content">
    <img id="overlayImg" alt="">
    <h2 id="overlayTitle"></h2>
    <p id="overlayDesc"></p>
  </div>
</div>


<script>
const overlay = document.getElementById("detailOverlay");
const overlayImg = document.getElementById("overlayImg");
const overlayTitle = document.getElementById("overlayTitle");
const overlayDesc = document.getElementById("overlayDesc");
const closeBtn = document.querySelector(".overlay-close");

document.querySelectorAll(".view-btn").forEach(btn => {
  btn.addEventListener("click", () => {
    overlayImg.src = btn.dataset.img;
    overlayTitle.textContent = btn.dataset.title;
    overlayDesc.textContent = btn.dataset.desc;

    overlay.style.display = "block";
    document.body.style.overflow = "hidden"; 
  });
});

closeBtn.onclick = () => {
  overlay.style.display = "none";
  document.body.style.overflow = "";
};

overlay.onclick = e => {
  if (e.target === overlay) {
    overlay.style.display = "none";
    document.body.style.overflow = "";
  }
};
</script>

{% endblock %}
